/*{
    border: 2px solid red;
    background-color: rgba(120, 100, 100, 0.5);
}*/
/* CUSTOM WIDTHS */
    .w-xs-25 { width: 25%!important; }
    .w-xs-50 { width: 50%!important; }
    .w-xs-75 { width: 75%!important; }
    .w-xs-100 { width: 100%!important; }
/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-25 { width: 25%!important; }
    .w-sm-50 { width: 50%!important; }
    .w-sm-75 { width: 75%!important; }
    .w-sm-100 { width: 100%!important; }
}

/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-25 { width: 25%!important; }
    .w-md-50 { width: 50%!important; }
    .w-md-75 { width: 75%!important; }
    .w-md-100 { width: 100%!important; }
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM WIDTHS */
    .w-lg-20 { width: 20%!important; }
    .w-lg-25 { width: 25%!important; }
    .w-lg-50 { width: 50%!important; }
    .w-lg-60 { width: 60%!important; }
    .w-lg-75 { width: 75%!important; }
    .w-lg-100 { width: 100%!important; }
}
.dark-theme{
    color: white;
    background-color: black;
}
