/*{
    border: 2px solid red;
    background-color: rgba(120, 100, 100, 0.5);
}*/

body{
    align: center;
}

.body-container {
    display: grid;
    grid-template:
		"header header header" 100px
       "nav nav nav"
		"main main sidebar" 70%
		". . ."
		"footer footer footer"
}

header{
    grid-area: header;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
}

.header-container{
    display: grid;
    grid-template:
		"header-logo header-title header-searcher"
        / auto 170px; auto;
}

.header-logo{
    display:grid;
    grid-area: header-logo;
    /* u r d l */
    margin: 0% 2% 0% auto;
}
.header-title{
    grid-area: header-title;
    margin: 0% 2% 0% 2%;
}
.header-searcher{
    grid-area: header-searcher;
    margin: 0% auto 0% 2%;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

aside{
    grid-area: sidebar;
}

section{
}

footer{
    grid-area: footer;
    border: 0;
    padding: 2%;
    align: center;
    text-align: left;
    color: black;
    background-color: gray;
    font-size: 0.8rem;
}

.btn {
    border: 2px solid rgba(20, 20, 255, 0.5);
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgba(20, 20, 255, 0.5);
    border-radius: 25px;
    background-color: rgba(20, 20, 120, 0.5);
}

.btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.dark-theme{
    color: white;
    background-color: black;
}
