body{
    align: center;
}
header{
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    text-align: center;
}
nav{
}
aside{
}
section{
}
footer{
    border: 0;
    padding: 2%;
    align: center;
    text-align: left;
    color: black;
    background-color: gray;
    font-size: 0.8rem;
}

.btn {
    border: 2px solid rgba(20, 20, 255, 0.5);
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgba(20, 20, 255, 0.5);
    border-radius: 25px;
    background-color: rgba(20, 20, 120, 0.5);
}

.btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.dark-theme{
    color: white;
    background-color: black;
}
